.login-container {
    width: 1000px;
    height: 600px;
    position: absolute;
    left: 35%;
    margin-left: -233px;
    top: 20px;
    box-shadow:-5px 0 5px #888888, /*左边阴影*/
               5px 0 5px #888888, /*右边阴影*/
               0 -5px 5px #888888, /*顶部阴影*/
               0 5px 5px #888888; /*底边阴影*/
    opacity: 0.85;
    filter: alpha(opacity=85);
}
.login-title {
    padding: 50px 28px;
    /* background: #a40000; */
    background-color: #0696d3;
    text-align: center;
}
.sysName {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    font-family:"Microsoft YaHei", "Lucida Sans Unicode", "Myriad Pro", "Hiragino Sans GB", "Heiti SC", Verdana, simsun;
}
.loginForm{
    margin-top: 100px;
    margin-left: 100px;
}

.loginForm .ant-input {
    background-color: blanchedalmond;
    color: black;
}
.ant-message {
    color: black !important;
}