<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chess.mapper.ChesserMapper">
  <resultMap id="BaseResultMap" type="com.chess.domain.ChesserDomain">
    <result column="id" jdbcType="VARCHAR" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
<!--    <result column="password" jdbcType="VARCHAR" property="password" />-->
    <result column="side" jdbcType="VARCHAR" property="side" />
    <result column="state" jdbcType="VARCHAR" property="state" />
    <result column="role" jdbcType="VARCHAR" property="role" />
  </resultMap>
  <select id="login" resultMap="BaseResultMap">
    select * from chesser
    <where>
        <if test="username != null">
            and username = #{username}
        </if>
        <if test="password != null">
          and password = #{password}
        </if>
    </where>
  </select>
</mapper>